.container{
    border: 1px solid black;
    padding: 20px;
    height: 30vh;
}
#btn1{
    margin: 10px 40px;
}
#btn2{
    margin: 10px 40px;
}
#para{
    font-weight: bold;
    font-style: italic;
}
#bulb{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.btn{
    margin: 10px 10px;
}













@media only screen and (max-width:600px) {
   
   .container{
       padding: 0px;
       
   } #btn1{
        margin: 3px 0px;
    }
    #btn2{
        margin: 3px 0px;
    }
    #para{
        font-size: 16px; ;

    }
    
}
@media only screen and (max-width:400px) {
    #para{
        font-size: 12px; ;
      
    }
    .btn{
        margin: 3px 0px;
      
    }
 #bulb img{
     width:100% ;
 }
}
